body {
    background-color: #222428;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #EDCE5B;
}

header ul.navbar-nav li.dropdown {
    background-color: #222428;
}
header ul.navbar-nav li.dropdown .nav-link {
    color: #edce5b;
    font-weight: 700;
}
header ul.navbar-nav li.dropdown .dropdown-toggle::after {
    content: none;
}
header ul.navbar-nav .dropdown-menu {
    background-color: transparent;
    border-radius: 0;
    text-align: center;
    padding: 0 0 5px 0;
}
header ul.navbar-nav .dropdown-menu li {
    margin: 0 10px 5px 10px;
}
header ul.navbar-nav .dropdown-menu .dropdown-item,
header ul.navbar-nav .dropdown-menu .dropdown-item:hover,
header ul.navbar-nav .dropdown-menu .dropdown-ite:active {
    color: #FFF;
    background-color: #3a3b3e;
}

ul.sidebarDoutrinas .btn-toggle {
    color: #EDCE5B;
}
ul.sidebarDoutrinas .btn-toggle:hover,
ul.sidebarDoutrinas .btn-toggle:focus {
    background-color: #edce5b;
    color: #000;
}

ul.sidebarDoutrinas .btn-toggle-nav a {
    color: #FFF;
}
ul.sidebarDoutrinas .btn-toggle-nav a:hover,
ul.sidebarDoutrinas .btn-toggle-nav a:focus {
    color: #000;
    background-color: #ffffff;
}

.bgTopo {
    width: 100%;
    height: 20vh;
    background-image: url(../images/bg-topo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1 {
    color: #EDCE5B;
    font-weight: 700;
}
h1 b {
    color: #222428;
    background-color: #EDCE5B;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 10px;
    display: inline-block;
    padding: 5px 25px;
}

h2,
h5 {
    color: #EDCE5B;
}

.custom-tooltip {
    --bs-tooltip-bg: #FFF;
    --bs-tooltip-color: #000;
}

.iconLink {
    cursor: pointer;
    opacity: .5;
}
.iconLink:hover {
    opacity: 1;
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url(../images/arrow-down-yellow.svg);
    transition: transform .35s ease;
    transform-origin: center;
    transform: rotate(-90deg);
}
.btn-toggle:hover::before,
.btn-toggle:focus::before {
    content: url(../images/arrow-down-dark.svg);
}
.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(0deg);
}

@media (max-width: 767.98px) {
    .xsCenter {
        text-align: center;
    }
    .iconesRodape {
        float: none !important;
        margin: 0 auto;
        display: inline-flex !important;
    }
}