<IfModule mod_rewrite.c>
    RewriteEngine on
    
    # Redirect /index.html /obrigado.html
    # Redirect /catalogo.html /obrigado.html

    # HTTPS
    RewriteCond   %{HTTPS} !=on
    RewriteRule   ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]

    # Campanha 2017
    #Redirect /obrigado.html https://projetomana.cpb.com.br/catalogo.html

    # Legado
    #Redirect /fase1.html https://projetomana.cpb.com.br/catalogo.html
    #Redirect /fase2.html https://projetomana.cpb.com.br/catalogo.html


</IfModule>
