/*========= RESET CSS ========*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    overflow: hidden;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
html, html a {
    -webkit-font-smoothing: antialiased !important;
}

/*=========== ESTILO TITLE ==========*/
h1,h2,h3,h4,h5{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1{
    font-size: 36px;
}
h2{
    font-size: 24px;
}
h3{
    font-size: 18px;
}
h4{
    font-size: 14px;
}
h5{
    font-size: 12px;
}
p, a{
    font-size: 14px;
    line-height: 30px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #1D1D1B;
}
html, body{
    overflow-x: hidden;
}

/*================= GERAL =================*/
section > article > h1,
section > div > h1,
section > h1{
    margin: 60px 0 20px 0;
}
section > article > h1,
section > div > h1,
section > div > h1 + p,
section > h1,
section > h1 + p
{
    text-align: center;
    color: #1D1D1B;
}
*:hover{
    -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
}

/*============ INPUT, SELECT ETC ===========*/
.formCheckout label,
.notificationForm label{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.notificationForm label{
    color: #9A9A9A;
}
.lineInput{
  max-height: 2px;
}
.lineInput--comPlaceholder{
    padding:4px 0 25px 0;
}
.lineInput--semPlaceholder{
    padding: 4px 0;
    padding-bottom: 25px;
}
.lineInput--light.lineInput--semPlaceholder{
    padding: 8px 0;
    padding-bottom: 18px;
}
.lineInput--light{
  border-bottom: solid 1px #E0E0E0;
  -webkit-text-fill-color: #fff;
   -webkit-opacity: 1;
   opacity: 1;
   color: #fff;
}
.lineInput--dark{
  border-bottom: solid 1px #444;
  -webkit-text-fill-color: #444;
   -webkit-opacity: 1;
   opacity: 1;
   color: #444;
}
.lineInput.warning,
.lineInput.warning select {
  border-bottom: solid 1px #eb9800;
}
.lineInput input,
.lineInput select{
  outline: none;
  border: none;
  background: transparent;
  position: relative;
  bottom: 0.4em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding-left: 0;
  font-size: 14px;
}
.lineInput select{
  margin-top: 15px;
}
.lineInput--light select,
.lineInput--dark select{
  -webkit-appearance: none;  /* Remove estilo padrão do Chrome */
  -moz-appearance: none; /* Remove estilo padrão do FireFox */
  appearance: none; /* Remove estilo padrão do FireFox*/
   background-position: right center;  /*Posição da imagem do background*/
 /* Altura do select, importante para que tenha a mesma altura em todo os navegadores */
   border-radius: 0;
   padding-top: 0px;
   padding-bottom: 7px;
 }
 .lineInput--light select{
   background: url(../img/seta-select.png) no-repeat right #444;  /* Imagem de fundo (Seta) */
   /* Altura do select, importante para que tenha a mesma altura em todo os navegadores */
   border-bottom:1px solid #ddd;
 }
 .lineInput--dark select{
  background: url(../img/seta-select-dark.png) no-repeat right #fff;  /* Imagem de fundo (Seta) */
  border-bottom:1px solid #444;
 }
.lineInput--light select:hover{
  background: url(../img/seta-select-hover.png) no-repeat right center #444;
  cursor: pointer;
}
.lineInput--dark select:hover{
  background: url(../img/seta-select-hover.png) no-repeat right center #fff;
  cursor: pointer;
}
input,
textarea,
select {
    padding: 10px;
    display: block;
    width: 100%;
    background-color: #444;
}

::-webkit-input-placeholder {
   color: rgba (255, 255, 255, 0.2);
   font: 12px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

:-moz-placeholder {
   color: rgba (255, 255, 255, 0.2);
   font: 12px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

::-moz-placeholder {
   color: rgba (255, 255, 255, 0.2);
   font: 12px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

:-ms-input-placeholder {
   color: rgba (255, 255, 255, 0.2);
   font: 12px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
    filter: alpha(opacity=100);
}

/*============ BUTTONS ============*/
.btn{
    padding: 12px 30px;
    border-radius: 100px;
    font-size: 18px;
}
.btn--verde{
    background-color: #2ECC71;
    color:white;
    box-shadow: 0px 7px 14px 0px rgba(0,54,34,0.44);
}
.btn--verde:hover{
    background-color: #2C9458;
    cursor: pointer;
    color:white;
}
.btn--roxo{
    background-color: #F37121;
    color: white;
    box-shadow: 0px 7px 14px 0px rgba(46,0,52,0.40);
}
.btn--roxo:hover{
    background-color: #C2400C;
    cursor: pointer;
    color:white;
}
.btn--branco{
    background-color: #fff;
    color: #373896;
    box-shadow: 0px 7px 14px 0px rgba(0,0,0,0.50);
}
.btn--branco:hover{
    background-color: #ccc;
    cursor: pointer;
    color:#373896;
}
.info-pessoais {
  min-height: 50px
}
.item > h3,
#secao-adultos {
  margin-top: 25px;
  margin-bottom: 25px;
  font-weight: bold;
}
#secao-adultos {
  margin-bottom: 0;
}

p.warning {
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    /* margin: 50px 0; */
    /* background-color: #1D1D1B; */
    /* padding-bottom: 18px; */
    color: #ffffff;
}

span.warning-mini {
    font-size: 18px;
    line-height: 70px;
    color: #ffffff;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: none;
}

.container {
    margin-bottom: 50px !important;
    color: #1D1D1B;
}

.col-lg-4 img{
    max-width: 100%;
}

/* CPB Barra Global */
cpb-bar {
    --main-color: #e17b6b;
 }
