<IfModule mod_rewrite.c>
    RewriteEngine on
    
    #Redirect /semana-de-ofertas.html https://projetomana.cpb.com.br/catalogo.html

    # HTTPS
    RewriteCond   %{HTTPS} !=on
    RewriteRule   ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]

    # Legado
    #Redirect /semana-de-ofertas.html https://projetomana.cpb.com.br/catalogo.html
    #Redirect /fase1.html https://projetomana.cpb.com.br/catalogo.html
    #Redirect /fase2.html https://projetomana.cpb.com.br/catalogo.html


</IfModule>