/* Cores */
:root {
    --azulSilitec: #2B4D7C;
    --azulClaroSilitec: #3967A4;
    --cinzaMedioSilitec: #7C7C7C;
    --brancoSilitec: #ffffff;
}

/* Geral */
body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 32px;
    color: var(--azulClaroSilitec);
    margin-bottom: 0;
}
h1 > span{
    font-weight: 700;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 32px;
    color: var(--azulSilitec);
    text-align: center;
    margin-bottom: 32px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--cinzaMedioSilitec);
    text-align: center;
    margin-top: 32px;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--cinzaMedioSilitec);
    text-align: left;
    margin-top: 16px;
}

ul {
    color: var(--cinzaMedioSilitec);
}

header {
    background-color: var(--azulSilitec);
    /* text-align: center; */
}

footer {
    background-color: var(--azulSilitec);
    color: var(--brancoSilitec);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    padding: 16px;
    margin-top: 64px;
}

.divisor {
    background-color: var(--azulClaroSilitec);
    height: 2px;
}

.logotipo {
    width: 100%;
    max-width: 222px;
    margin: 32px 0;
}

.imgContatoMobile,
.imgContatoTablet,
.imgContatoNotebook {
    width: 100%;
    height: auto;
    /* margin-top: 32px; */
    display: none;
}

.buttonArea {
    width: 288px;
    float: left;
    margin: 16px 32px 0 0;
}

.button {
    background-color: var(--azulClaroSilitec);
    border-radius: 16px;
    display: grid;
    grid-template-columns: 64px 224px;
}
.buttonIMG > img {
    margin: 16px;
}
.buttonTXT {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--brancoSilitec);
    font-size: 16px;
}
.buttonTXT > p {
    margin: 8px 0;
}
.buttonTXT > p > span {
    font-size: 32px;
}


/* Notebook */
@media only screen and (min-width: 1025px) {
    .area {
        padding: 0 128px;
    }
    .imgContatoNotebook {
        display: block;
    }
}

/* Tablet */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .area {
        padding: 0 64px;
    }
    .imgContatoTablet {
        display: block;
    }
}

/* Mobile */
@media only screen and (max-width: 768px) {
    header {
        text-align: center;
    }
    .area {
        padding: 0 16px;
    }
    .imgContatoMobile {
        display: block;
    }
    .buttonArea {
        float: none;
        margin: 16px auto;
    }
}